# Compiled class files
*.class
target/
build/

# Eclipse
*.pydevproject
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch

# IDEA (IntelliJ)
.idea/
*.iws
*.iml
*.ipr
*.ids
*.orig

# Maven
log/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# OS
Thumbs.db
.DS_Store

# Package Files
*.jar
*.war
*.ear

# Database
*.db
*.sqlite

# Application specific
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/